@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,900&display=swap');

/* GENERAL SETTINGS */
* {
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/* MOST USED CLASSES */
:root {
  --principal-color: rgba(255, 234, 0);
  --secundary-color: rgb(0, 0, 0);
}
.white-text{
  color: white;
}
.black-text{
  color: var(--secundary-color);
}
.background-principal-color{
  background-color: var(--principal-color);
} 
.background-secundary-color{
  background-color: var(--secundary-color);
}
.background-white{
  background-color: white;
}
.shadow-principal-color{
  box-shadow: 18px 18px 0px 2px #FFEA00;
}
.shadow-secundary-color{
  box-shadow: 18px 18px 0px 2px #000000;
}
.max-bold{
  font-weight: 900;
}
.margin-titles{
  margin: 15px 0;
}
.margin-top{
  margin-top: 20px;
}
.centered-text{
  text-align: center;
}
.hidden{
  display: none;
}
.underline{
  text-decoration: underline !important;
}
/* AGE CHECK */
.header-age-check{
  margin-bottom: 40px;
  padding: 25px;
  display: flex;
  justify-content: center;
}
.logo-age-check{
  height: 50px;
}
.main-age-check{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-age-check{
  margin: 40px auto;
}
.buttons-age-check{
  width: 300px;
  display: flex;
  justify-content: space-around;
  transition: transform 0.2s;
}
.button-entry {
  all: unset;
  background-color: var(--principal-color);
  text-align: center;
  width: 80px;
  height: 25px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
.buttons-age-check button:first-child:hover, .buttons-age-check button:last-child:hover {
  transform: scale(1.3);
}
.responsibility-message{
  margin: 50px 20px 0 20px;
}
.text-card{
  padding: 30px;
  margin: 0 40px 40px 40px;
}
/* HOME */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cocktail-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 100px;
}
/* Card style */
.card{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  cursor:pointer;
}
.card-text {
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.card-image {
  position: absolute;
  width: 200px;
  height: 200px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* Show ingredients */
.ingredients {
  width: 180px;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 5px;
  visibility: hidden;
}
.ingredients ul {
  margin-top: 5px;
  list-style: none;
  text-align: left;
}
.ingredients li {
  display: block;
  margin: 0 auto;
}
/* COCKTAIL DETAILS */
.cocktail-details-header{
  margin-bottom: 50px;
}
.tags-text{
  font-style: italic;
}
#cocktail-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-cocktail-details{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cocktail-details-img{
  width: 270px;
  height: 270px;
}
.serve-cocktail-details{
  margin: 30px 0 30px 0;
  text-align: right;
}
.details-text{
  text-align: justify;
  margin-bottom: 10px;
}
#instructions,
#ingredients {
  width: 300px;
  margin-bottom: 50px;
}
.flags{
  display: flex;
  justify-content: space-between;
}
.flag-image{
  width: 40px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}
/* CATEGORIES */
.top-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}
.categories-list{
display: none;
}
.category-select{
  display: flex;
}
#category-select{
  margin: 25px 0;
  font-family: 'Montserrat', sans-serif;
}
  /* Select styles */
.custom-select select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--secundary-color);
  color: white;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin: 10px auto;
}
.custom-select select option:first-child {
  color:var(--principal-color);
}
.custom-select select:focus {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
/* SEARCH COCKTAIL */
.search-by-input{
  font-family: 'Montserrat', sans-serif;
  margin: 25px 0;
  width: 60%;
  border: white 2px solid;
  color: var(--secundary-color);
  background-color: white;
  padding: 7px 0 7px 10px ;
  border-radius: 2px;
  font-size: 1.25em;
}
.search-by-input::placeholder{
  color: rgba(117, 117, 117, 0.816);
}
.search-by-input:focus{
  outline: none;
}
/* SEARCH BY INGREDIENT */
.button-search-ingredient{
  all:initial;
  background-color: white;
  font-size: 1em;
  margin: 25px 0;
  border-radius: 2px;
  height: 42px;
  width:90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;	
}
.text-button-ingredient{
  font-family: 'Montserrat', sans-serif;

}
/* TABLET SCREEN MIN:600PX MAX:1023*/
@media screen and (min-width: 600px) {
 .logo-age-check{
   height: 70px;
  }
 /* HOME */
 .cocktail-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 100px;
  }
  #cocktail-details{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  /* SEARCH BY INGREDIENT */
  .button-search-ingredient{
    width: 110PX;
  }
}
/* COMPUTER SCREEN MIN:1024PX */
@media screen and (min-width: 1024px) {
  /* CARD */
  .card{
    width: 350px;
    height: 350px;
  }
  .card-image {
    width: 230px;
    height: 230px;
  }
  .card-image:hover{
    opacity: 0;
    transition: opacity 500ms;
  }
  .card-image:hover +.ingredients{
    visibility: visible;
  }
  .cocktail-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 100px;
  }
   /* COCKTAIL DETAILS */
   #cocktail-details{
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-evenly;
    }
    .cocktail-details-img{
      width: 320px;
      height: 320px;
    }
    #instructions,#ingredients{
      width: 350px;
    }
    #card-cocktail-details{
      order: 2;
    }
    #ingredients{
      order: 3;
    }
    #instructions{
      order: 1;
    }  
    /* CATEGORIES */
    .categories-list{
      list-style: none;
      visibility: inherit;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap ;
      width: 100%;
    }
    .categories-list > li{
      margin: 25px 0; 
      cursor: pointer;
    }
    .categories-list > li:hover {
      transform: scale(1.2);
      font-weight: 500;
    }
    .category-select{
      display: none;
    }
    /* SEARCH BY INGREDIENT */
    .button-search-ingredient{
      width: 150px;
      font-size: 1.25em;

    }
    .button-search-ingredient:hover{
      transform:scale(1.05);
    }

  }