/* General settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --principal-color: rgba(255, 234, 0, 1);
    --secundary-color: rgb(0, 0, 0);
  }
  
  /* Nav Bar */
  .nav-bar {
    background-color: var(--secundary-color);
    padding: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  
  .logo-img {
    width: 70px;
    height: 70px;
  }
  
  .logo-text {
    color: var(--principal-color);
    font-family: 'Roboto Slab', serif;
    font-size: 1.9vw;
    font-weight: 600;
  }
  
  .logo-text:first-child {
    margin-right: -20px;
    margin-top: 10px; /* Ajusta el margen derecho del primer texto según sea necesario */
  }
  
  .logo-text:last-child {
    margin-left: -20px; /* Ajusta el margen izquierdo del segundo texto según sea necesario */
    margin-top: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-links li a {
    color: var(--principal-color);
    font-size: 1.5vw;
    text-decoration: none;
  }
  
  .nav-links li {
    margin: 0 5px;
  }
